<div class="main-container">
  
  <div class="container">
    <div class="heading">
      Profissional Graffiti and Wall painting Artist in Gurugram and Delhi NCR
    </div>
    <div class="detail-container">
      <div class="img">
        <img src="assets/images/profile-img1.jpeg" alt="img" />
      </div>
      <div class="description">
        Contact us Artlipak provide all types of wall art Artists like Graffiti artists, Wall painting
        artists, 3D wall painting Artists, Mural artists, Doodle artists, Traditional wall paintings,
        Relief wall artists, wall installations, 3D wall art, etc. in Gurugram (Haryana), Delhi NCR
        and pan India. Gurugram is a smart city where wall art is very popular. We mostly see Graffiti
        and Wall paintings on the streets. In Gurugram, we see many wall paintings on flyovers,
        streets, government walls society walls, etc. Similarly, Gurugram is an industrial area and
        there are offices of big companies that require a lot of graffiti and we are adept at
        fulfilling those needs. Apart from this, we have worked in cafes, restaurants, offices, bars,
        homes, shops, etc. in Gurugram and Delhi NCR. That is why, based on our experience and skill,
        we can say that we are the best Graffiti wall painting artists in Gurugram and Delhi NCR.
      </div>
    </div>
  </div>
  
  <div class="experties">
    <app-experties-component></app-experties-component>
  </div>
  
  <div class="intro-section">
    <div class="about">About</div>
    <div class="desc-img">
      <div class="left-content">
        <div class="heading">Best Wall painting Artist in Gurugram and Delhi NCR</div>
        <div class="description">
          Artlipak is a name of trust that we have been sharing with you through our artwork. We have
          been working in this field since 2007. We don’t work like a company, we work like an artist.
          Because you must have seen many companies which get the work done, rather than doing the work
          themselves. You can see the quality and finish of our work. We have the art of doing all kinds
          of wall art. We work in every medium as per the demand. Artlipak has no meaning, it’s just a
        </div>
      </div>
      <div class="img">
        <img src="assets/images/profile-img.jpeg" alt="img" />
      </div>
    </div>
  </div>
</div>
