<div class="container">
  <div class="logo">
    <img src="assets/images/main-logo.png" alt="Logo" />

  </div>
  <div class="routes">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <a
      class="nav-link"
      routerLink="/gallery"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Gallery
    </a>

    <a
      class="nav-link"
      routerLink="/contact"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Contact
    </a>
  </div>
</div>
