<div class="art-grid">
  <!-- Left column -->
  <div class="art-box"><img src="assets/images/profile-img.jpeg" alt="Art 1" /></div>
  <div class="art-box"><img src="assets/images/profile-img1.jpeg" alt="Art 2" /></div>

  <!-- Center big box -->
  <div class="art-box center-box">
    <img src="assets/images/profile-img1.jpeg" alt="Art 3" />
  </div>

  <!-- Right column -->
  <div class="art-box"><img src="assets/images/profile-img1.jpeg" alt="Art1 4" /></div>
  <div class="art-box"><img src="assets/images/profile-img2.jpeg" alt="Art 5" /></div>
  
</div>

<div class="art-grid">
  <!-- Left column -->
  <div class="art-box"><img src="assets/images/profile-img.jpeg" alt="Art 1" /></div>
  <div class="art-box"><img src="assets/images/profile-img1.jpeg" alt="Art 2" /></div>

  <!-- Center big box -->
  <div class="art-box center-box">
    <img src="assets/images/profile-img1.jpeg" alt="Art 3" />
  </div>

  <!-- Right column -->
  <div class="art-box"><img src="assets/images/profile-img1.jpeg" alt="Art 4" /></div>
  <div class="art-box"><img src="assets/images/profile-img2.jpeg" alt="Art 5" /></div>
  
</div>
