<div class="container">
    <div class="heading">We Do These Artworks</div>
    <div class="description">We can create all kinds of wall art as per our customers’ demand, such as wall painting, graffiti, 3D wall painting, mural painting, Doodle art, Relief and sculpture, etc. Our team consists of the best artists of Gurugram and Delhi NCR. Nowadays, not everyone likes ordinary artwork. Everyone wants some creative and different designs and artworks for themselves, which we have the full ability to fulfill.</div>

    <div class="carousal">
        @for(item of experties){
            <div class="card">
                
            </div>
        }
    </div>
</div>
