<div class="main-container">
    <div class="upper-container">
        <div class="left-container">
            <div class="logo">
                <img src="/assets/images/main-logo.png" alt="">
            </div>
            <div class="content">
                <div class="heading">Madhuban Arts</div>
                <div class="description">
                    We are committed to providing you as the end consumer the best quality product and customer service. Although we have many competitors in this industry, we have established personal relationships with the most recognized artists around the world. We are proud to highlight art from across the African diaspora.
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="heading">Contact Us</div>
            <div class="details">
                <div>Phone: 8920897174</div>
                <div>Email: rahul.mi8750@gmail.com</div>
                <div>Hours: MON - SAT (9AM - 6PM)</div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <div class="rights">© 2025, By Madhuban arts</div>
        <div class="social-media"></div>
    </div>

</div>