@import "primeicons/primeicons.css";
.container{
    height: 100%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 40px auto;
    font-family: cursive;

    .detail-container{
        width: 40%;
        .social-media{
            font-size: 16px;
            font-weight: bold;
            width: 120px;

            .label{
                font-weight: bold;
                margin-bottom: 10px;
                i{
                    font-size: 25px;
                }
            }
            .icons{
                display: flex;
                justify-content: space-between;
                color: darkgoldenrod;
            }
        }
    }
    .form-container{
        width: 45%;
        p-floatlabel{
            margin-bottom: 20px;
            input, textarea{
                width: 100%;
            }
        }
    }

    .contact-details{
        margin: 20px 0;
        border-bottom: 2px solid lightgray;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
        .text-w-icon{
            display: flex;
            color: darkgoldenrod;
            .icon{
                margin-right: 10px;
            }
        }
    }
}

.remove-border{
    border: none !important;
}

.quote{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    width: 60%;
    margin: 40px auto;
    color: burlywood;
    margin-top: 0 !important;
}